@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400&display=swap');

:root {
  --font: 'Kanit', sans-serif;
  --white: #ffffff;
  --main: #1a2940;
  --primary: #f97f29;
  --complementary: #cce16b;
  --gray: #f5f5f5;
}

html {
  font-family: var(--font);
  font-size: 62, 5%;
}

body {
  padding: 0.5rem;
  color: var(--main);
  background-color: var(--white);
}

h3 {
  margin: 0;
}

::placeholder {
  font-weight: 300;
  color: var(--main);
}

/*----- Header -----*/
header {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 0.7rem;
  color: var(--white);
  background-color: var(--primary);
}

.header__form {
  padding: 0.5rem 0.7rem;
  border-radius: 0.7rem;
  background-color: var(--gray);
}

.header__form input {
  font-size: 0.9rem;
  border: none;
  background-color: transparent;
}

.header__form input:focus {
  outline: none;
}

.header__form button {
  border: none;
  color: var(--primary);
  background-color: transparent;
}

/*----- Weather Title -----*/
.weather {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.7rem;
  background-image: url('../images/weather.png');
  background-size: cover;
}

.weather__title {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.weather__icon {
  font-size: 0.9rem;
  margin-right: 0.5rem;
  padding: 0.25rem;
  border-radius: 100%;
  color: var(--primary);
  background-color: var(--white);
}

.weather__current h3 {
  font-size: 1rem;
  font-weight: 400;
}

.weather__current span {
  font-size: 0.9rem;
  font-weight: 200;
}

/*----- Weather Temp -----*/
.weather__temp {
  margin-bottom: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.weather__degrees {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.weather__degrees :nth-child(1) {
  font-size: 2rem;
}

.weather__degrees :nth-child(2) {
  font-size: 0.9rem;
  font-weight: 300;
  margin-left: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 0.4rem;
  background-color: var(--white);
}

.weather__climate {
  font-size: 0.9rem;
  font-weight: 200;
}

/*----- Weather Info -----*/
.weather__info {
  display: flex;
  justify-content: space-between;
}

.weather__pressure,
.weather__visibility,
.weather__humidity {
  width: 25%;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
}

.weather__pressure {
  color: var(--white);
  background-color: var(--main);
}

.weather__visibility {
  background-color: var(--complementary);
}

.weather__humidity {
  background-color: var(--white);
}

.weather__data {
  font-size: 0.9rem;
  font-weight: 200;
  margin-bottom: 0.25rem;
}

.weather__now {
  font-size: 1rem;
  font-weight: 400;
}

/* Temperature Title */
.temperature {
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: var(--gray);
}

.temperature__title {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.temperature__icon {
  font-size: 0.9rem;
  margin-right: 0.5rem;
  padding: 0.25rem;
  border-radius: 100%;
  color: var(--primary);
  background-color: var(--white);
}

.temperature__current h3 {
  font-size: 1rem;
  font-weight: 400;
}

.temperature__current span {
  font-size: 0.9rem;
  font-weight: 200;
}

/* Temperature Info */
.temperature__info {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  border-radius: 0.7rem;
  background-color: var(--white);
}

.temperature__min,
.temperature__max {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.7rem;
}

.temperature__data {
  font-size: 0.9rem;
  font-weight: 200;
  margin-bottom: 0.25rem;
}

.temperature__now {
  font-size: 1rem;
  font-weight: 400;
  width: 3rem;
  border-radius: 0.7rem;
}

/* .temperature {
  padding: 1rem;
  background-color: #e2e2e2;
}

.temperature__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.temperature__title div:nth-child(1) {
  background-color: #e2e2e2;
}

.temperature__info {
  display: flex;
}

.temperature__info div {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #555555;
}

.temperature__info div:nth-child(1) {
  justify-content: center;
  align-items: flex-start;
}

.temperature__info div:nth-child(2) {
  justify-content: center;
  align-items: flex-end;
}

.today {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b0b0b0;
}

.today__icon-high {
  height: 50px;
}

.today__times {
  display: flex;
}

.today__time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.today__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.tomorrow {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #e2e2e2;
}

.tomorrow__city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.tomorrow__temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
} */
